<div class="row">
  <div class="col-lg-12">
    <h1>Reports</h1>

    <ul>
      <li><a href="/reports/budget">Budget</a></li>
      <li><a href="/reports/taxes">Taxes</a></li>
    </ul>
  </div>
</div>
